.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.A {
  display: flex;
justify-content: center;
margin-top: 20px;
}
li{
  justify-content: space-between;
  min-height: 30px; 
    width: 31rem;
    font-style: italic;
    border-radius: 13px;
    border: solid 1px;
    padding: 10px;
    display: flex;
    font-size: 1.25rem;
    background-color: #FFB562; 
    margin: 0.25rem;
    word-break: break-all;
}
ul{
  margin-right: 24rem;
margin-bottom: 1rem;
margin-left: 17rem;
}
body{
  background-color: #F9F2ED;
}
input{
  margin: 2%;
  font-size: 22px;
  line-height: 1.6;
  height: 50px;
  width: 650px;
  border-radius: 30px;
  padding: 22px; 
  outline: none;  
  color:black;
}
.btn-primary{
  height: 45px;
margin-top: 26px;
}
.btn btn-primary{
  height: 3rem;
  margin-top: 2rem ;
}